<html>
	<head>
	</head>
	<body>
	<center>
		<img src="tetsuya.png"></img>
		<h1>Check it out!</h1>
		<a href="http://www.picmonkey.com/">
		Picmonkey</a>
		<a href="https://twitter.com/">
		<img src="twitter.png"></img>
		</a>
	<center>
	</body>
</html>
